@charset "EUC-KR";

section {

margin: 0;
width: 100%;
height: 100%;
padding: 0;
}



.cards {
    width: 100%;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
    max-width: 290px;
    margin-left:25px;

}

.card card--1  {
    display:inline-bolck;

}

.card__img {
  visibility: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 235px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  
}

.card__info-hover {
  position: absolute;
  padding: 16px;
  width: 100%;
  opacity: 0;
  top: 0;
}

.card__img--hover {
  transition: 0.2s all ease-out;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    position: absolute;
    height: 235px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    top: 0;
  
}
.card {
  display: inline-block;
  width: 23.3%;
  margin: 1em;
  transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
  background-color: #fff;
  width: 21.3%;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0,0.1);
}

.card__info {
z-index: 2;
  background-color: #fff;
  border-bottom-left-radius: 12px;
border-bottom-right-radius: 12px;
   padding: 16px 24px 24px 24px;
}

.card__category {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 2px;
    font-weight: 500;
  color: #868686;
}

.card__title {
letter-spacing: 3px;
    margin-top: 5px;
    margin-bottom: 10px;
    font-family: 'Roboto Slab', serif;
}

.card__by {
    font-size: 12px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}

.card__author {
    font-weight: 600;
    text-decoration: none;
    color: #AD7D52;
}

.card:hover .card__img--hover {
    height: 100%;
    opacity: 0.3;
}
.setting{
font-weight: 600;
text-decoration: none;
color: #AD7D52;
margin-left:60px;
}
#withmebox{
position:absolute;
top:1000px;
left:25%;
width:1200px;
height:950px;
}
#btnwrite{position:relative;
float:right;
right:280px;
top:120px;
box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
	background-color:#f9f9f9;
	border-radius:9px;
	border:2px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:7px 20px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;}

#btnwrite:hover {
	background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
	background-color:#e9e9e9;
}

#pageList{widht:800px;
height:200px;
position:relative;
top:1100px;
left:1000px;
}   
.page-item{float:left; list-style:none;}

.pagination{list-style:none;
	float:left;
	display:inline;
	 list-style:none;}
	
#page-id{float:left;
display:block;
	padding:8px;
	margin-right:3px;
	width:15px;
	color:#000;
	border:1px solid #D5D5D5;
	text-align:center;
	text-decoration:none;
	font-size:11pt;
	font-weight:bold;}

#page-id2{float:left;
display:block;
	padding:8px;
	margin-right:3px;
	width:50px;
	color:#000;
	border:1px solid #D5D5D5;
	text-align:center;
	text-decoration:none;
	font-size:11pt;
	font-weight:bold;
	}
	
#page-id:hover,page-id:focus
{color:#fff;
	border:1px solid #f40;
	background-color:#f40;}
	
#page-id2:hover,page-id2:focus
{color:#fff;
	border:1px solid #f40;
	background-color:#f40;}

 

/* SIDE CSS */
.sideArea {
	width: 200px;
	min-width: 200px;
	background: /* #c0c0c0 */ /* #ADCDED */ rgba( 173, 205, 237, 0.2);
	position: absolute;
	top: 715px;
	bottom: 0;
	left: 0;
	transition: 0.5s;
	height: 1370px;
}

.container.is-click .sideArea {
	left: -200px;
}

.sideArea li>a {
	display: block;
	color: black;
	font-weight: bold;
	font-size: 15pt;
	padding: 1em;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	margin-bottom: 40px;
	opacity: 1.0;
	list-style:none;
}

.sideArea li>a:hover {
	background: rgba(255, 255, 255, 0.1);
}

.sideArea li>a>.fa {
	width: 1em;
	text-align: center;
	margin-right: 10px;
}

.submenu {
	display: none;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	margin-top: 170px;
}

.submenu li>a {
	padding-left: 2em;
	border-bottom: none;
	
}

.sideMenu {
	border-top: 1px solid rgba(255, 255, 255, 0.2);
	margin-top: 200px;
	list-style:none;
}


hr {
	position: relative;
	top: 90px;
	left: 200px;
	width: 100%;
}

#id {
	font-size: 24pt;
	position: relative;
	top: 65px;
	left: 480px;
}
  